@import "tailwindcss";

@layer components {
  .border-box {
    @apply border-2 border-[#4D5C92] rounded-2xl;
  }
}

@plugin "daisyui"{
    themes:light,dark;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #6366F2;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #6366F2;
}

/* [data-theme="light"] {
  .footer-bg {
    background-color: #3E3F92;
  }

  .drawer-bg {
    background-color: #fff;
  }
}

[data-theme="dark"] {
  .drawer-bg {
    background-color: #222;
  }
} */
 
.main_layout {
    display: grid;
    min-height: 100vh;
    grid-template-areas:
        'content'
        'footer'
    ;
    grid-template-rows: 1fr auto;
    gap: 1rem;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}

body {
    margin: 0;
}